In [1]:
import pandas as pd

In [2]:
csv_df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv',  encoding='latin-1')

What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

In [3]:
csv_df.groupby(['Item']).sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09


What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [4]:
csv_df['Y2015'].describe()

count     59395.000000
mean        135.235966
std        1603.403984
min       -3161.000000
25%           0.000000
50%           0.080000
75%           8.460000
max      181137.000000
Name: Y2015, dtype: float64

What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [5]:
a = len(csv_df['Y2016']) - len(csv_df['Y2016'].dropna())
print(a)
b = ((len(csv_df['Y2016']) - len(csv_df['Y2016'].dropna())) / len(csv_df['Y2016'])) * 100
print(b)

1535
2.5187470259094566

Which year had the highest correlation with ‘Element Code’?

In [6]:
csv_df.groupby(['Element Code']).corr().sum()

Area Code    18.493731
Item Code    25.835666
Y2014        86.012975
Y2015        85.248146
Y2016        87.093281
Y2017        86.958780
Y2018        86.516790
dtype: float64

What year has the highest sum of Import Quantity?

What is the total number of the sum of Production in 2014?

In [7]:
csv_df.groupby(['Element']).sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00


Which of these elements had the highest sum in 2018?

Which of these elements had the 3rd lowest sum in 2018?

In [8]:
csv_df.groupby(['Element']).sum()['Y2018'].sort_values()[::-1]

Element
Domestic supply quantity                  2161192.10
Production                                2075072.89
Food                                      1303841.28
Total Population - Both sexes             1140605.00
Food supply (kcal/capita/day)              455261.00
Processing                                 308429.00
Import Quantity                            287997.09
Feed                                       233489.68
Export Quantity                            181594.80
Losses                                     163902.00
Other uses (non-food)                       91300.97
Food supply quantity (kg/capita/yr)         49056.85
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Protein supply quantity (g/capita/day)      11833.56
Fat supply quantity (g/capita/day)          10258.69
Tourist consumption                            90.00
Name: Y2018, dtype: float64

What is the total Import Quantity in Algeria in 2018?

In [9]:
csv_df.groupby(['Area','Element']).sum().head(10)

                                             Area Code  Item Code  \
Area    Element
Algeria Domestic supply quantity                   464     311204
        Export Quantity                            392     264011
        Fat supply quantity (g/capita/day)         432     291489
        Feed                                        88      58967
        Food                                       420     282744
        Food supply (kcal/capita/day)              432     291489
        Food supply quantity (kg/capita/yr)        420     282744
        Import Quantity                            448     301030
        Losses                                     208     139857
        Other uses (non-food)                      148     101269

                                             Element Code     Y2014     Y2015  \
Area    Element
Algeria Domestic supply quantity                   614916  83755.94  85972.86
        Export Quantity                            579278   1328.64   1104.62
        Fat supply quantity (g/capita/day)          73872    320.19    317.40
        Feed                                       121462   9656.04  10308.00
        Food                                       539910  60582.69  61693.49
        Food supply (kcal/capita/day)               71712  13500.00  13512.00
        Food supply quantity (kg/capita/yr)         67725   1556.45   1552.81
        Import Quantity                            628432  34940.12  37841.91
        Losses                                     266396   7231.00   7471.00
        Other uses (non-food)                      190698   3315.22   3483.37

                                                Y2016     Y2017     Y2018
Area    Element
Algeria Domestic supply quantity             87157.61  86810.42  90023.42
        Export Quantity                       1340.22   1494.54    811.54
        Fat supply quantity (g/capita/day)     309.54    320.74    309.09
        Feed                                  9903.00   9571.00  10668.00
        Food                                 63081.43  62785.33  63736.33
        Food supply (kcal/capita/day)        13483.00  13363.00  13288.00
        Food supply quantity (kg/capita/yr)   1555.77   1516.94   1509.28
        Import Quantity                      36736.08  36059.29  36238.29
        Losses                                7405.00   7428.00   7708.00
        Other uses (non-food)                 3400.17   3534.08   3970.08

What is the total number of unique countries in the dataset?

In [10]:
len(csv_df['Area'].drop_duplicates())

49